@charset "utf-8";
    $primary: rgb(34, 34, 34) ;
    $success: #1293e1;
    $link: #fff;
    $breadcrumb-item-active-color: #4dbbff;
    $card-header-background-color:  rgba(219, 217, 217, 0.158);
    $info: #1292e1c7;
    .login-logo {
        margin: 0 auto;
        margin-bottom: 20px;
        max-height: 100px;
      
    } 
    /* @media screen and (max-width: 600px) {
        .ocultar-div{
        display:none;
        }
    } */
@import "bulma/bulma.sass";