@charset "utf-8";
    $primary: rgb(34, 34, 34) ;
    $success: #a1c3d1;
    $warning: #f172a1 ;
    $info: #f172a1;
    $link: #fff;
    $breadcrumb-item-active-color: #f06292;
    $card-header-background-color:  rgba(219, 217, 217, 0.158);
    .login-logo {
        margin: 0 auto;
        margin-bottom: 20px;
        max-height: 200px;
      
    } 
    .navbar-item img{
        max-height: 3.5rem!important;
    }
@import "bulma/bulma.sass";