@charset "utf-8";
    $primary: rgb(34, 34, 34) ;
    $success: #ec407a;
    $link: #fff;
    $breadcrumb-item-active-color: #ec407a;
    $card-header-background-color:  rgba(219, 217, 217, 0.158);
    $info: #ec407a;
    .login-logo {
        margin: 0 auto;
        margin-bottom: 20px;
        max-height: 200px;
      
    }
    @media screen and (max-width: 600px) {
        .ocultar-div{
        display:none;
        }
    }
@import "bulma/bulma.sass";